* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020202;
    padding-inline: min(2.1875rem);
    color: #c7c9cc;
}

#logo {
    display: flex;
    justify-content: center;
    margin-block: 2.875rem;
}

#header-title{
    & span {
        font: 700 1rem/1.5 "Roboto Mono", monospace;
        text-transform: uppercase;
        
        background: linear-gradient(to right, #c7c9cc,  #3e3e3e);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    & h1 {
        font: 800 2.5rem/1.3 "Sora", sans-serif;
        margin-top: .5rem;
    }
}

.desktop-only {
    display: none;
}

@media (width > 450px) {
    body{
        display:grid;
        justify-content: center;
        padding-inline: 0;
    }

    #logo{
        justify-content: start;
        margin-block: 5rem;
    }

    #header-title{
        & h1 {
            font: 800 4.5rem/1.3 "Sora", sans-serif;
            margin-top: 1rem;
        }
    }

    .mobile-only{
        display: none;
    }
    
    .desktop-only {
        display: block;
    }
}